.uploadPage {
  display: flex;
  width: var(--page-width);
  height: var(--page-height);
  padding-top: 4.625rem;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background: #fff;
}


.uploadContent {
    width: var(--page-width);
    height: 38.5rem;
    padding: 1.4375rem 0.75rem;
    background: #050130;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    box-sizing: border-box;
  }
  
  .imageWrapper {
    flex: 1; 
    display: flex;
    align-items: center; 
    justify-content: center; 
    width: 100%;
    margin-bottom: 1rem; /* רווח קטן אופציונלי מהכפתור */
  }
