.uploadSubmitButton {
  display: flex;
  width: 18.6875rem;
  padding: 0 0.9375rem;
  align-items: center;
  justify-content: center;
  border-radius: 1.25rem;
  border: 2px solid #050130;
  background: #E3F0FA;
  gap: 0.625rem;
  flex-direction: row-reverse;
  cursor: pointer;
  transition: opacity 0.2s;
}

.uploadSubmitButton:hover {
  opacity: 0.9;
}

.uploadSubmitButton:active {
  opacity: 0.8;
}

.uploadIcon {
  width: 1.20831rem;
  height: 1.20831rem;
  flex-shrink: 0;
}

.submitButtonText {
  color: #050130;
  font-family: inherit;
  text-align: right;
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3.75rem;
}

