.uploadImageDisplay {
  max-width: 23rem;
  max-height: 30.0625rem;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  border-radius: 1.3125rem;
  border: 4px solid var(--D5E8FC, #E3F0FA);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  width: fit-content;
  height: fit-content;
}

.image {
  max-width: 22.625rem;
  max-height: 29.6875rem;
  width: auto;
  height: auto;
  display: block;
  object-fit: contain;
  border-radius: 1.3125rem;
}
