.uploadImageDisplay {
  width: 23rem;
  height: 30.0625rem;
  padding: 0 0.1875rem 0 0.0625rem;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  border-radius: 1.3125rem;
  border: 2px solid #FFF;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}
