.uploadImageDisplay {
  max-width: 23rem;
  max-height: 30.0625rem;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  border-radius: 1.9375rem;
  border: 2px solid #FFF;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  /* המסגרת תתאים את עצמה לגודל התמונה */
  width: fit-content;
  height: fit-content;
}

.image {
  max-width: 22.625rem;
  max-height: 29.6875rem;
  width: auto;
  height: auto;
  display: block;
  object-fit: contain;
  border-radius: 1.9375rem;
}
