.homeHeader {
  width: 100%;
  background: #E3F0FA;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1.0625rem;
  padding: 1.5625rem 1.1875rem;
  box-sizing: border-box;
}

