.homeImageUploadArea {
  width: 23rem;
  height: 26rem;
  border-radius: 1.9375rem;
  border: 3px dashed var(--D5E8FC, #E3F0FA);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
}

.fileInput {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
  pointer-events: none;
}

.uploadContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.uploadText {
  color: var(--D5E8FC, #E3F0FA);
  font-family: inherit;
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}

.dragging {
  opacity: 0.8;
  border-color: #d9d9d9;
}
