.homeHelplineButton {
  display: flex;
  width: 11.375rem;
  height: 2.75rem;
  padding: 0.4375rem 0.8125rem 0.4375rem 0.5625rem;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  background: #C7DCED;
  gap: 0.6rem;
  flex-direction: row-reverse
}

.phoneIcon {
  width: 1.5rem;
  height: 1.5rem;
  flex-shrink: 0;
  fill: var(--d-9-d-9-d-9, #1F1F1F);
}

.helplineButtonText {
  color: var(--d-9-d-9-d-9, #1F1F1F);
  font-family: inherit;
  text-align: center;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  flex-shrink: 0;
  white-space: nowrap;
}

