.homeDisclaimer {
  width: 22.375rem;
  color: #fff;
  text-align: center;
}

.disclaimerTitle {
  text-align: center;
  font-family: inherit;
  font-size: 1.375rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #fff;
}

.disclaimerText {
  font-family: inherit;
  font-size: 1.375rem;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  color: #fff;
}

