.homePage {
  display: flex;
  width: 24.5625rem;
  padding-top: 3.5625rem;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background: #fff;
}

.homeContent {
  width: 24.5625rem;
  height: 39.5rem;
  background: #050130;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-top: 1.5rem;
  padding-bottom: 2rem;
  box-sizing: border-box;
  gap: 1rem;
  margin-top: 0.94rem;
}

