.homeHeader {
  width: 24.5625rem;
  height: 10.1875rem;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem; 
  padding: 1rem;
  box-sizing: border-box;
  margin-bottom: -0.7875rem;

}

