.homeImageUploadArea {
  width: 100%;
  height: 29.4375rem;
  border-radius: 1.9375rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
}

.borderSvg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 0;
}

.fileInput {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
  pointer-events: none;
}

.uploadContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.05rem;
  position: relative;
  z-index: 1;
}

.uploadText {
  color: var(--D5E8FC, #E3F0FA);
  font-family: inherit;
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}


.helpButton {
  position: absolute;
  bottom: 0.4rem;
  right: 1.4rem;
  left: auto;
  max-width: calc(100% - 2.5rem);
  display: flex;
  align-items: center;
  gap: 0.625rem;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 2;
  flex-direction: row-reverse;
}

.helpIcon {
  width: 1.08331rem;
  height: 1.08331rem;
  flex-shrink: 0;
}

.helpText {
  color: var(--D5E8FC, #E3F0FA);
  text-align: right;
  font-family: SimplerPro;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: 6.5%;
  text-underline-offset: auto;
  text-underline-position: from-font;
}