.homeDisclaimer {
  width: 100%;
  color: #fff;
  text-align: center;
  align-self: center;
  box-sizing: border-box;
}

.disclaimerTitle {
  text-align: right;
  font-family: inherit;
  font-size: 1.5em;
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
  color: var(--D5E8FC, #E3F0FA);
}

.disclaimerText {
  text-align: right;
  font-family: inherit;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 200;
  line-height: 1.5rem;
  color: var(--D5E8FC, #E3F0FA);
}
