.homeHelplineButton {
  display: flex;
  width: 10.5625rem;
  height: 2.75rem;
  padding: 0.4375rem 0.8125rem 0.4375rem 0.5625rem;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  border: 2px solid #050130;
  background: #fff;
  gap: 0.5rem;
  flex-direction: row-reverse
}

.phoneIcon {
  width: 1.625rem;
  height: 1.625rem;
  flex-shrink: 0;
}

.helplineButtonText {
  color: #050130;
  font-family: inherit;
  text-align: center;
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

