.homeProgressBar {
  display: flex;
  width: 23.8125rem;
  flex-direction: column;
  align-items: center;
  margin-bottom: -0.4875rem;
}

.progressBarImage {
  width: 100%;
  height: auto;
  object-fit: contain;
}

