.homeHeader {
  width: var(--page-width);
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1.0625rem;
  padding: 1.5625rem 1.1875rem;
  box-sizing: border-box;
}

