.homeUpdateButton {
  display: flex;
  width: 9.625rem;
  height: 2.75rem;
  padding: 0.4375rem 0.6875rem 0.4375rem 1.0625rem;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  background: #C7DCED;
  position: relative;
  gap: 1.1rem;
  flex-direction: row-reverse;
  margin-left: 0.8125rem;
}

.bellIcon {
  width: 1rem;
  height: 1.25rem;
  flex-shrink: 0;
  fill: var(--d-9-d-9-d-9, #1F1F1F);
}

.updateButtonText {
  color: var(--d-9-d-9-d-9, #1F1F1F);
  font-family: inherit;
  text-align: center;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  flex-shrink: 0;
  white-space: nowrap;
  margin-right: 0.5rem;
}

.notificationBadge {
  position: absolute;
  top: -0.5rem;
  right: -0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.badgeIcon {
  width: 1.5625rem;
  height: 1.5625rem;
}

.badgeNumber {
  position: absolute;
  color: #fff;
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 1;
}

