.homeHelplineButton {
  display: flex;
  width: 10rem;
  padding: 0.4375rem 0.6875rem 0.4375rem 0.6875rem;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  border: 2px solid #050130;
  background: #fff;
  gap: 0.5rem;
  flex-direction: row-reverse
}

.phoneIcon {
  width: 1.625rem;
  height: 1.625rem;
  flex-shrink: 0;
}

.helplineButtonText {
  color: #050130;
  font-family: inherit;
}

