.homeGreeting {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse
}

.profileIconButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profileIcon {
  width: 2.8125rem;
  height: 2.75rem;
  flex-shrink: 0;
}

.greetingText {
  color: #050130;
  text-align: right;
  font-family: inherit;
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

