.profilePage {
  width: var(--page-width);
  height: var(--page-height);
  background: var(--d-9-d-9-d-9, #1F1F1F);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.topSpacer {
  height: 5.94rem;
  width: 100%;
  position: relative;
}

.profileHeader {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.1875rem;
  margin-bottom: 1.56rem;
  position: relative;
}

.backButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 1.44rem;
  top: 50%;
  transform: translateY(-50%);
}

.backIcon {
  width: 1.20831rem;
  height: 1.20831rem;
  fill: #E3F0FA;
}

.profileTitle {
  color: var(--D5E8FC, #E3F0FA);
  text-align: right;
  font-family: SimplerPro;
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  width: 100%;
}

.actionButtons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.5rem;
  padding: 0 1.1875rem;
}

.historyButton {
  display: flex;
  width: 16.125rem;
  padding: 0.4375rem 0.6875rem 0.4375rem 1.0625rem;
  align-items: center;
  justify-content: center;
  align-self: flex-start;
  margin-right: 1.1875rem;
  border-radius: 1rem;
  background: #C7DCED;
  color: var(--d-9-d-9-d-9, #1F1F1F);
  text-align: center;
  font-family: SimplerPro;
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
  margin-bottom: 3rem;
  flex-shrink: 0;
}

.logoutButton {
  position: absolute;
  bottom: 2.5rem;
  left: 50%;
  transform: translateX(-50%);
  color: var(--D5E8FC, #E3F0FA);
  text-align: center;
  font-family: SimplerPro;
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
  background: none;
  border: none;
  cursor: pointer;
  padding: 1.5rem;
}

.userDetailsContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  padding: 0 1.1875rem;
  gap: 1rem;
  position: relative;
}

.userDetails {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex: 1;
  align-items: flex-start;
  text-align: right;
}

.userDetailValue {
  color: var(--D5E8FC, #E3F0FA);
  text-align: right;
  font-family: SimplerPro;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
}

.editButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 1.5rem;
  width: 100%;
}

.editIcon {
  width: 1.5rem;
  height: 1.5rem;
}

.editText {
  color: var(--D5E8FC, #E3F0FA);
  font-family: SimplerPro;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
