.profilePage {
  width: 24.5625rem;
  height: 53.25rem;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.topSpacer {
  height: 5.94rem;
  width: 100%;
}

.profileHeader {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.1875rem;
  margin-bottom: 1.56rem;
  position: relative;
}

.backButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 1.44rem;
}

.backIcon {
  width: 1.20831rem;
  height: 1.20831rem;
  fill: #050130;
}

.profileTitle {
  color: #050130;
  text-align: right;
  font-family: SimplerPro;
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0;
  width: 100%;
}

.actionButtons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.94rem;
  padding: 0 1.1875rem;
}

.historyButton {
  display: flex;
  width: 16.125rem;
  padding: 0.4375rem 0.6875rem 0.4375rem 1.0625rem;
  align-items: center;
  justify-content: center;
  align-self: flex-start;
  margin-right: 1.1875rem;
  border-radius: 1rem;
  border: 2px solid #050130;
  background: #fff;
  color: #050130;
  text-align: center;
  font-family: SimplerPro;
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
  margin-bottom: 3.56rem;
  flex-shrink: 0;
}

.logoutButton {
  display: flex;
  width: 16.125rem;
  padding: 0.4375rem 0.6875rem 0.4375rem 1.0625rem;
  align-items: center;
  justify-content: center;
  align-self: flex-start;
  margin-right: 1.1875rem;
  border-radius: 1rem;
  border: 2px solid #050130;
  background: #fff;
  color: #050130;
  text-align: center;
  font-family: SimplerPro;
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
  margin-bottom: 1.5rem;
  flex-shrink: 0;
  text-decoration: none;
}

.userDetailsContainer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  padding: 0 1.1875rem;
  gap: 1rem;
  position: relative;
}

.userDetails {
  display: flex;
  flex-direction: column;
  gap: 1.69rem;
  flex: 1;
  align-items: flex-start;
  text-align: right;
}

.userDetailValue {
  color: #050130;
  text-align: right;
  font-family: SimplerPro;
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
}

.editButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.25rem;
  margin-left: 0.75rem;
  flex-shrink: 0;
}

.editIcon {
  width: 1.5rem;
  height: 1.5rem;
}

