.profilePage {
  width: 100%;
  min-height: var(--page-height);
  background: var(--d-9-d-9-d-9, #1F1F1F);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.topSpacer {
  height: calc(5.54rem + var(--safe-area-inset-top));
  width: 100%;
  position: relative;
  background: var(--color-background-primary);
}

.profileHeader {
  width: 100%;
  max-width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.1875rem;
  margin-bottom: 1.56rem;
  position: relative;
  box-sizing: border-box;
}

.backButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 1.44rem;
  top: 45%;
  transform: translateY(-50%);
}

.backIcon {
  width: 1.20831rem;
  height: 1.20831rem;
  fill: #E3F0FA;
}

.profileTitle {
  color: var(--D5E8FC, #E3F0FA);
  text-align: right;
  font-family: SimplerPro;
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  width: 100%;
}

.contentContainer {
  width: 100%;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0 1.1875rem;
  box-sizing: border-box;
}

.actionButtons {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 1.5rem;
  width: 100%;
  gap: 1rem;
}

.historyButton {
  display: flex;
  width: auto;
  padding: 0.5rem 0.75rem;
  height: 2.75rem;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  background: #C7DCED;
  color: var(--d-9-d-9-d-9, #1F1F1F);
  text-align: center;
  font-family: SimplerPro;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
  margin-bottom: 3rem;
  flex-shrink: 0;
  margin-left: auto;
  margin-right: 0;
}

.logoutButton {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  color: var(--D5E8FC, #E3F0FA);
  text-align: center;
  font-family: SimplerPro;
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
  background: none;
  border: none;
  cursor: pointer;
  padding: 1.5rem;
  padding-bottom: calc(4rem + var(--safe-area-inset-bottom));
}

.userDetailsContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: auto;
  gap: 1rem;
  position: relative;
  margin-left: auto;
  margin-right: 0;
}

.userDetails {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  align-items: flex-end;
  text-align: right;
  width: auto;
}

.userDetailValue {
  color: var(--D5E8FC, #E3F0FA);
  text-align: right;
  font-family: SimplerPro;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  width: 100%;
  display: block;
}

.editButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  gap: 0.7rem;
  margin-top: 1.5rem;
  width: 100%;
}

.editIcon {
  width: 1.5rem;
  height: 1.5rem;
}

.editText {
  color: var(--D5E8FC, #E3F0FA);
  font-family: SimplerPro;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
