.loadingProgressBar {
  display: flex;
  width: 19.0625rem;
  height: 0.1875rem;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 1rem 0;
}

.progressBarContainer {
  width: 100%;
  height: 0.4375rem;
  background: #050130;
  border-radius: 0.21875rem;
  overflow: hidden;
  position: relative;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  direction: ltr; 
}

.progressBarFill {
  height: 100%;
  min-width: 0.1rem;
  background: #E3F0FA;
  border-radius: 0.21875rem;
  will-change: width;
  display: block;
}

