.loadingDisclaimer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  max-width: 22.375rem;
  gap: 0.3rem;
}

.disclaimerTitle {
  color: var(--D5E8FC, #E3F0FA);
  text-align: center;
  font-family: SimplerPro;
  font-size: 1.375rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0;
}

.disclaimerText {
  color: var(--D5E8FC, #E3F0FA);
  font-family: SimplerPro;
  font-size: 1.375rem;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  margin: 0;
}

