.loadingPage {
  display: flex;
  width: var(--page-width);
  height: var(--page-height);
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background: #050130;
  position: relative;
}

.loadingContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  flex: 1;
  box-sizing: border-box;
}

.loadingDisclaimerWrapper {
  width: 100%;
  padding-bottom: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

