.loadingPage {
  display: flex;
  width: 24.5625rem;
  height: 53.25rem;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background: #fff;
  position: relative;
}

.loadingContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  flex: 1;
  box-sizing: border-box;
}

.loadingDisclaimerWrapper {
  width: 100%;
  padding-bottom: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

